extends layout

block content
  main.container
    h1.text-uppercase #{('SHA256 Hash')}
    .card.bg-light#card1
      form.card-body
        .row.mb-3
          label.col-sm-2.col-form-label.text-end(for='data') #{('Data')}:
          .col-sm-10
            textarea#data.form-control(rows='10', onkeyup='$("#hash").val(sha256())')

        .row.mb-3
          label.col-sm-2.col-form-label.text-end(for='hash') #{('Hash')}:
          .col-sm-10
            input#hash.form-control(type='text', disabled)

  script.
    function getText(block, chain) {
      return $('#data').val();
    }

    $("#hash").val(sha256());
