extends keys-layout

block content
  a(href="https://github.com/anders94/public-private-key-demo" target="_blank")
    img.github-ribbon(src="/images/fork-me-on-github-ribbon.png", alt="Fork me on GitHub")
  .container
    h1.text-uppercase #{("Blockchain: Public/Private Keys & Signing")}
    h2.pt-3
      a(href="/keys-home") #{("Blockchain 101: Part 2 - Public/Private Keys and Signing")}
    .ratio.ratio-16x9
      iframe(src="https://www.youtube.com/embed/xIDL_akeras")
    br
    h2.pt-3
      a(href="/") #{("Blockchain 101: Part 1 - A Visual Demo")}
    .ratio.ratio-16x9
      iframe(src="https://www.youtube.com/embed/_160oMzblY8")
    br
    p.float-end.pb-3 by 
      a(href="http://andersbrownworth.com/") #{("Anders Brownworth")}
      br
      |BTC: 1K3NvcuZzVTueHW1qhkG2Cm3viRkh2EXJp
      br
      |ETH: 0x84a90e21d9d02e30ddcea56d618aa75ba90331ff

